@import url("photographer-page.css");

body {
    font-family: "DM Sans", sans-serif;
    margin: auto;
    margin-bottom: 120px;
    margin-left: 100px;
    margin-right: 120px;
}

/*-----------      HEADER      -----------*/
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/*      Lien Logo      */
.a-for-logo {
    height: 50px;
    width: 50px;
    margin-top: 50px;
    margin-left: 130px;
}

/*      Logo      */
.logo {
    height: 60px;
    margin-top: 0px;
    align-content: center;
}

/*      Espace header     */
.space-header {
    margin-left: 40px;
    margin-right: 40px;
}

/*     Titre "Nos photographes"     */
h1 {
    color: #901C1C;
    margin-right: 100px;
    margin-bottom: -35px;
}

/*-----------      MAIN - Listes des photographes      -----------*/
/*      Container des photographes      */
#photographers-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 100px;
}

/*      Lien page du photographe      */
a {
    text-decoration: none;
}

/*      Profil du photographe      */
#photographers-container article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
    padding-top: 50px;
}

/*      Photo de profil du photographe      */
#photographers-container img {
    height: 240px;
    width: 240px;
    object-fit: cover;
    border-radius: 120px;
}

/*      Nom du photographe      */
.nom {
    color: #d3573c;
    font-size: 45px;
    font-weight: 500;
    text-decoration: none;
    margin: 0;
    margin-top: 25px;
    text-align: center;
}

/*      Ville du photographe      */
.ville {
    color: #901C1C;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 2px;
    text-align: center;
}

/*      Description du photographe      */
.description {
    color: black;
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 5px;
    text-align: center;
}

/*      Prix/jour du photographe      */
.prix {
    color: #525252;
    font-size: 13px;
    margin-bottom: 5px;
    text-align: center;
}

/*-----------      RESPONSIVE PC      -----------*/
@media screen and (max-device-width: 1200px) {
    
    body {
        width: 100%;
        margin: auto;
        max-width: 1200px;
        min-width: 768px;
    }

    /*      Container des photographes      */
    #photographers-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 100px;
        margin-bottom: 80px;
        margin-left: 20px;
        margin-right: 20px;
    }

    /*      Nom du photographe      */
    .nom {
        width: 375px;
        font-size: 40px;
    }
}

/*-----------      RESPONSIVE TABLET      -----------*/
@media screen and (max-device-width: 768px) {

    /*     Titre "Nos photographes"     */
    h1 {
        font-size: 24px;
        padding-top: 15px;
    }

    /*      Container des photographes      */
    #photographers-container {
        grid-template-columns: 1fr;
    }

    /*      Photo de profil du photographe      */
    #photographers-container img {
        height: 350px;
        width: 350px;
        object-fit: cover;
        border-radius: 175px;
        margin-top: 50px;
    }

    /*      Nom du photographe      */
    .nom {
        width: 100%;
        font-size: 47px;
    }

    /*      Ville du photographe      */
    .ville {
        font-size: 22px;
    }

    /*      Description du photographe      */
    .description {
        font-size: 20px;
    }

    /*      Prix/jour du photographe      */
    .prix {
        font-size: 17px;
    }
}

/*-----------      RESPONSIVE MOBIL      -----------*/
@media screen and (max-device-width: 375px) {

    header {
        display: flex;
        flex-direction: column;
    }

    /*      Lien Logo      */
    .a-for-logo {
        height: 50px;
        width: 50px;
        margin-top: 80px;
        margin-left: 130px;
    }

    /*      Logo      */
    .logo {
        margin-left: -260px;
        block-size: 7em;
    }

    /*     Titre "Nos photographes"     */
    h1 {
        font-size: 35px;
        margin-top: 80px;
        margin-left: 105px;
    }

    /*      Photo de profil du photographe      */
    #photographers-container img {
        height: 440px;
        width: 440px;
        object-fit: cover;
        border-radius: 220px;
        margin-top: 60px;
    }

    /*      Nom du photographe      */
    .nom {
        width: 100%;
        font-size: 65px;
    }

    /*      Ville du photographe      */
    .ville {
        font-size: 30px;
    }
    
    /*      Description du photographe      */
    .description {
        font-size: 25px;
    }
    
    /*      Prix/jour du photographe      */
    .prix {
        font-size: 26px;
    }
}