@import url("photographer-page.css");

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
    margin-bottom: 120px;
    margin-left: 100px;
    margin-right: 100px;
}

/*///////      HEADER      ///////*/
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/*/      LOGO      /*/
.logo {
    height: 60px;
    margin-left: 130px;
    margin-top: 50px;
    align-content: center;
}

/*/      ESPACE LOGO-TITRE      /*/
.space-header {
    margin-left: 40px;
    margin-right: 40px;
}

/*/      TITRE "Nos photographes"      /*/
h1 {
    color: #901C1C;
    margin-right: 120px;
}

/*///////      LISTE DES PHOTOGRAPHES      ///////*/
#photographers-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 80px;
    margin-top: 100px;
}

/*/      PROFIL PHOTOGRAPHE      /*/
#photographers-container article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/*/      IMAGE PROFIL PHOTOGRAPHE      /*/
#photographers-container img {
    height: 240px;
    width: 240px;
    object-fit: cover;
    border-radius: 120px;
}

a {
    text-decoration: none;
}

/*/      NOM PROFIL PHOTOGRAPHE      /*/
.nom {
    color: #d3573c;
    font-size: 50px;
    font-weight: 500;
    text-decoration: none;
    margin: 0;
    margin-top: 25px;
    text-align: center;
}

/*/      VILLE PROFIL PHOTOGRAPHE      /*/
.ville {
    color: #901C1C;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 2px;
    text-align: center;
}

/*/      DESCRIPTION PROFIL PHOTOGRAPHE     /*/
.description {
    color: black;
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 5px;
    text-align: center;
}

/*/      PRIX PROFIL PHOTOGRAPHE      /*/
.prix {
    color: #525252;
    font-size: 13px;
    margin-bottom: 5px;
    text-align: center;
}