/*      Lien Logo      */
.a-for-logo-second-page {
    margin-left: 100px;
}

/*      Logo      */
.logo {
    height: 60px;
    margin-top: 40px;
    align-content: center;
}

/*-----------      Banniére du photographe     -----------*/
.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    min-width: 1150px;
    margin: 65px 100px 0px;
}

/*---      BLOC 1 - Infos du photographe      ---*/
.photograph-header-bloc-1 {
    width: fit-content;
    padding-top: 20px;
}

/*      Nom du photographe      */
.photograph-name {
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 83px;
    margin-left: 50px;

    color: #D3573C;
}

/*      Ville du photographe      */
.photograph-city {
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 31px;
    margin-left: 50px;
    margin-top: -40px;
    width: fit-content;

    color: #901C1C;
}

/*      Description du photographe      */
.photograph-desc {
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    margin-left: 50px;
    width: fit-content;

    color: #525252;
}

/*---      BLOC 2 - Contacté le photographe      ---*/
.photograph-header-bloc-2 {
    display: flex;
    justify-content: center;
    margin: -125px;
    margin-top: -120px;
}

/*      Boutton "Contact"      */
.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

/*      Boutton "Contact" au survol      */
.contact_button:hover {
    color: #000000;
    background-color: #D3573C;
    transition: 0.3s;
}

/*---      BLOC 3 - Photo de profil du photographe      ---*/
.photograph-header-bloc-3 {
    display: flex;
    justify-content: flex-end;
    margin-right: 60px;
}

/*      Photo de profil du photographe      */
.photograph-img {
    height: 180px;
    width: 180px;
    object-fit: cover;
    border-radius: 90px;
    margin-top: -25px;
}

/*-----------      h2 "Trier par" avant menu déroulant     -----------*/
.trier-par {
    position: absolute;
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    float: left;
    margin-left: 100px;

    color: #000000;
}

/*-----------      Menu déroulant     -----------*/
nav {
    position: absolute;
    background: #911C1C;
    border-radius: 5px;
    float: left;
    margin-left: 200px;
    margin-top: 10px;
}

nav * {
    margin: 0px;
    padding: 0px;
}

/*      Choix du menu déroulant      */
.sort-by {
    height: 60px;
    width: 150px;
    padding: 14px;
    border-radius: 5px;
    border-style: none;
    font-family: DM Sans;
    font-style: normal;
    font-size: 18px;
    background: #911C1C;
    color: white;
    text-align: left;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*      Icon menu déroulant      */
.fa-chevron-down, .fa-chevron-up {
    color: white;
}

/*      Deuxième parti du menu déroulant      */
#second-part-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    background: #911C1C;
    border-radius: 5px;
}

/*      Ligne blanche entre les choix      */
#white-line {
    border-top: 1px solid white;
    margin-left: 10px;
    margin-right: 10px;
}

/*-----------      Galerie du photographe     -----------*/
#photograph-medias {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    margin: 95px;
}

/*      Photos de la galerie      */
.photograph-picture {
    display: flex;
    width: 350px;
    height: 300px;
    border-radius: 5px;
    object-fit: cover;
    margin: auto;
}

/*      Infos : Titre et nombre de likes de la photo      */
.about-picture {
    display: flex;
    padding: 15px 5px 0px 5px;
    justify-content: space-between;
    width: 350px;
    margin: auto;
}

/*      Titre de la photo      */
.picture-title {
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;

    color: #901C1C;
}

/*      Nombre de likes de la photo      */
.picture-likes {
    width: 58px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: #901C1C;
}

/*      Espace entre le Nombre et l'icon      */
.like-margin {
    margin-right: 5px;
}

/*-----------      Bannière de likes     -----------*/
#likes-banner {
    position: fixed;
    bottom: 0;
    right: 30px;
    float: right;
    width: 320px;
    height: 60px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: black;
    background-color: #DB8876;
}

/*      Infos photographe      */
#banner-display {
    display: flex;
}

/*      Bloc - Nombre total de likes      */
#like-counter-banner {
    display: flex;
    width: 50%;
    height: 60px;
    justify-content: center;
    align-items: center;
}

/*      Nombre total de likes      */
#total-likes {
    font-family: DM Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 21px;
    margin-right: 5px;
}

/*      Icon coeur      */
.like-icon-banner {
    font-size: 20px;
}

/*      Bloc - Prix du photographe/jour      */
#price-photograph-banner {
    display: flex;
    width: 50%;
    height: 60px;
    justify-content: center;
    align-items: center;
}

/*      Prix du photographe/jour      */
#price-banner {
    font-family: DM Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 21px;
    padding-right: 5px;
}

/*-----------      Modal - Photos de la galerie agrandi     -----------*/
/*      Modal - Photo     */
#lightbox-modal {
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    top: 0;
    padding-top: 65px;
    justify-content: center;
    background: white;
}

/*      Icon flêche de gauche      */
.fa-chevron-left {
    margin-right: 35px;
    font-size: 48px;
    margin-top: 351px;
    color: #911C1C;
}

/*      Photo      */
.picture-lightbox {
    width: 900px;
    height: 750px;
    object-fit: cover;
    border-radius: 5px;
}

/*      Titre de la photo      */
.title-picture-lightbox {
    width: 50%;
    margin: 0px;
    margin-top: 10px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
    color: #911C1C;
}

/*      Bloc - icon de fermeture + flêche de droite      */
.icon-right-lightbox {
    display: flex;
    flex-direction: column;
    height: 750px;
    margin-left: 35px;
    font-size: 48px;
}

/*      Icon de fermeture      */
.fa-xmark {
    color: #911C1C;
}

/*      Icon flêche de droite      */
.fa-chevron-right {
    color: #911C1C;
    margin-top: 303px;
}

/*-----------      Modal formulaire de contact     -----------*/
/*      Modal form      */
#contact_modal {
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    top: 0;
    padding-top: 65px;
    padding-bottom: 50px;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.8);
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    padding-top: 20px;
    margin: auto;
}

/*---      Header modal      ---*/
.modal header {
    justify-content: space-between;
    width: 100%;
    display: flex;
}

/*      Header - h2 "Contactez-moi"      */
.modal header h2 {
    font-size: 50px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 0;
}

/*      Header - Icon de fermeture      */
.modal header button {
    cursor: pointer;
    height: fit-content;
    padding-top: 15px;
    background-color: #DB8876;
    border: #DB8876;
}

/*      Header - Nom du photographe     */
#name-profil {
    font-size: 50px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    margin-top: -10px;
    margin-bottom: 5px;
}

/*---      Formulaire de contact      ---*/
form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

/*      Formulaire (Container : label + input)      */
form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
}

/*      Formulaire - Label (texte : Nom, Prénom, Email, Votre message)      */
form label {
    color: #312E2E;
    font-size: 25px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    padding-top: 10px;
    padding-bottom: 5px;
    margin-left: -10px;
}

/*      Formulaire - Box de saisie (input)      */
form input {
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 5px;
    font-family: DM Sans;
    font-size: 25px;
    margin-left: -10px;
    padding-left: 15px;
}

/*      Formulaire - Box de saisie du message      */
form .input-message {
    font-size: 25px;
    font-family: DM Sans;
    width: 101%;
    padding-bottom: 100px;
    border-radius: 5px;
    margin-left: -10px;
    padding-left: 15px;
    padding-top: 10px;
}

/*      Message d'erreur si le champ ne correspond pas au regExp      */
.formData[data-error]::after {
    content: attr(data-error);
    color: white;
    display: block;
    margin-top: 7px;
    text-align: right;
    transition: 0.3s;
}

.formData[data-error-visible="true"]::after {
    opacity: 1;
}

/*      Champ Invalid - Contour box ROUGE      */
.formData[data-error-visible="true"] .text-control {
    border: 2px solid red;
}

/*      Champ Valide - Contour box VERT      */
.formData[valid] .text-control {
    border: 2px solid #36b146;
}

/*-----------      RESPONSIVE PC      -----------*/
@media screen and (max-device-width: 1024px) {

    /*      Logo      */
    .logo {
        block-size: 4em;
    }

    /*      Photo de profil du photographe      */
    .photograph-img {
        height: 240px;
        width: 240px;
        border-radius: 120px;
        margin-top: -52px;
    }

    /*-----------      h2 "Trier par" avant menu déroulant     -----------*/
    .trier-par {
        font-size: 20px;
        margin-top: 45px;
    }

    /*-----------      Menu déroulant     -----------*/
    nav {
        width: 155px;
        height: 50px;
        margin-top: 35px;
    }

    /*      Choix du menu déroulant      */
    .sort-by {
        width: 162px;
    }

    /*-----------      Galerie du photographe     -----------*/
    #photograph-medias {
        grid-template-columns: 1fr 1fr;
        margin-left: 150px;
        margin-top: 120px;
    }

    /*      Box - Photo de la galerie      */
    .photograph-media {
        margin-right: 100px;
        margin-bottom: 30px;
    }

    /*      Photo de la galerie      */
    .photograph-picture {
        width: 450px;
        height: 400px;
    }

    /*      Infos : Titre et nombre de likes de la photo      */
    .about-picture {
        padding: 5px 5px 0px 5px;
        margin-left: 0px;
        margin-right: 0px;
        width: auto;
    }

    /*      Titre de la photo      */
    .picture-title {
        font-size: 25px;
    }

    /*      Nombre de likes de la photo      */
    .picture-likes {
        font-size: 25px;
        width: 71px;
        margin-right: -10px;
    }

    /*-----------      Bannière de likes     -----------*/
    #likes-banner {
        width: 360px;
        height: 70px;
    }

    /*      Infos photographe      */
    #banner-display {
        margin-top: 5px;
    }

    /*      Nombre total de likes      */
    #total-likes {
        font-size: 26px;
        margin-right: 7px;
    }

    /*      Icon coeur      */
    .like-icon-banner {
        font-size: 24px;
    }

    /*      Prix du photographe/jour      */
    #price-banner {
        font-size: 24px;
        padding-right: 10px;
    }

    /*-----------      Modal - Photos de la galerie agrandi     -----------*/
    /*      Titre de la photo      */
    .title-picture-lightbox {
        font-size: 29px;
    }
}

/*-----------      RESPONSIVE TABLET      -----------*/
@media screen and (max-device-width: 768px) {

    /*-----------      Banniére du photographe     -----------*/
    .photograph-header {
        height: 390px;
    }

    /*      Nom du photographe      */
    .photograph-name {
        font-size: 80px;
    }

    /*      Ville du photographe      */
    .photograph-city {
        font-size: 33px;
    }

    /*      Description du photographe      */
    .photograph-desc {
        font-size: 23px;
    }

    /*---      BLOC 2 - Contacté le photographe      ---*/
    .photograph-header-bloc-2 {
        display: block;
        margin-top: -116px;
        margin-left: 50px;
    }

    /*      Boutton "Contact"      */
    #btn-contact {
        margin-top: 130px;
    }

    /*---      BLOC 3 - Photo de profil du photographe      ---*/
    /*      Photo de profil du photographe      */
    .photograph-img {
        height: 300px;
        width: 300px;
        border-radius: 150px;
        margin-top: -174px;
    }

    /*-----------      h2 "Trier par" avant menu déroulant     -----------*/
    .trier-par {
        font-size: 28px;
        margin-top: 50px;
    }

    /*-----------      Menu déroulant     -----------*/
    nav {
        width: 162px;
        height: 57px;
        margin-left: 234px;
        margin-top: 36px;
    }

    /*       Bouton principal du menu déroulant      */
    #menu-button {
        width: 180px;
        height: 67px;
        padding-top: 10px;
    }

    /*      Choix du menu déroulant      */
    .sort-by {
        width: 180px;
        margin-bottom: 4px;
        padding-right: 20px;
        font-size: 22px;
    }

    /*      Deuxième parti du menu déroulant      */
    #second-part-menu {
        width: 182px;
    }

    /*-----------      Galerie du photographe     -----------*/
    #photograph-medias {
        margin-left: 104px;
        margin-top: 130px;
    }

    /*      Box - Photo de la galerie      */
    .photograph-media {
        margin-bottom: 50px;
    }

    /*      Photos de la galerie      */
    .photograph-picture {
        width: 500px;
        height: 450px;
    }

    /*      Infos : Titre et nombre de likes de la photo      */
    .about-picture {
        padding: 10px 5px 0px 5px;
    }

    /*      Titre de la photo      */
    .picture-title {
        font-size: 30px;
    }

    /*      Nombre de likes de la photo      */
    .picture-likes {
        width: 85px;
        font-size: 30px;
        margin-right: -10px;
    }

    /*-----------      Bannière de likes     -----------*/
    #likes-banner {
        width: 450px;
        height: 85px;
    }

    /*      Infos photographe      */
    #banner-display {
        margin-top: 14px;
    }

    /*      Nombre total de likes      */
    #total-likes {
        font-size: 32px;
        margin-right: 10px;
    }

    /*      Icon coeur      */
    .like-icon-banner {
        font-size: 28px;
    }

    /*      Prix du photographe/jour      */
    #price-banner {
        font-size: 32px;
        padding-right: 32px;
    }

    /*-----------      Modal - Photos de la galerie agrandi     -----------*/
    /*      Modal - Photo     */
    .picture-lightbox {
        width: 1100px;
        height: 950px;
    }

    /*      Titre de la photo      */
    .title-picture-lightbox {
        font-size: 36px;
    }

    /*      Bloc - icon de fermeture + flêche de droite      */
    .icon-right-lightbox {
        height: 950px;
    }

    /*      Icon flêche de droite      */
    #right {
        margin-top: 405px;
    }

    /*-----------      Modal formulaire de contact     -----------*/
    /*      Modal form      */
    .modal {
        width: 60%;
    }

    /*      Header - h2 "Contactez-moi"      */
    .modal header h2 {
        font-size: 65px;
    }

    /*      Header - Nom du photographe     */
    #name-profil {
        font-size: 65px;
    }

    /*---      Formulaire de contact      ---*/
    form {
        height: auto;
    }

    /*      Formulaire - Label (texte : Nom, Prénom, Email, Votre message)      */
    form label {
        font-size: 32px;
        padding-top: 17px;
    }

    /*      Formulaire - Box de saisie (input)      */
    form input {
        height: 80px;
        font-size: 30px;
    }

    /*      Formulaire - Box de saisie du message      */
    form .input-message {
        width: 100%;
        height: 140px;
        font-size: 30px;
    }

    /*      Formulaire - Box de saisie taille du texte      */
    .formData {
        font-size: 25px;
    }

    /*      Formulaire - Boutton "Envoyer"      */
    .contact_button {
        margin-top: 30px;
        margin-left: -8px;
    }
}

/*-----------      RESPONSIVE MOBIL      -----------*/
@media screen and (max-device-width: 375px) {

    /*---      Header      ---*/
    header {
        margin-bottom: 120px;
    }

    /*      Lien Logo      */
    .a-for-logo-second-page {
        margin-left: 455px;
    }

    /*      Logo      */
    .logo {
        block-size: 7em;
        margin-top: 100px;
    }

    /*-----------      Banniére du photographe     -----------*/
    .photograph-header {
        height: 1100px;
    }

    /*---      BLOC 1 - Infos du photographe      ---*/
    .photograph-header-bloc-1 {
        padding-top: 490px;
        width: auto;
    }

    /*      Nom du photographe      */
    .photograph-name {
        display: flex;
        place-content: center;
        font-size: 105px;
        margin-left: 0px;
        width: auto;
    }

    /*      Ville du photographe      */
    .photograph-city {
        display: flex;
        place-content: center;
        font-size: 53px;
        margin-left: 0px;
        width: auto;
    }

    /*      Description du photographe      */
    .photograph-desc {
        display: flex;
        place-content: center;
        font-size: 41px;
        margin-left: 0px;
        width: auto;
    }

    /*---      BLOC 2 - Contacté le photographe      ---*/
    .photograph-header-bloc-2 {
        display: flex;
        margin-top: -116px;
        margin-right: -105px;
        margin-left: 0px;
    }

    /*      Boutton "Contact"      */
    #btn-contact {
        margin-top: 151px;
        block-size: 3em;
        width: 370px;
        font-size: 40px;
        margin-left: -112px;
    }

    /*---      BLOC 3 - Photo de profil du photographe      ---*/
    .photograph-header-bloc-3 {
        margin-right: 318px;
        margin-top: -640px;
    }

    /*      Photo de profil du photographe      */
    .photograph-img {
        height: 500px;
        width: 500px;
        border-radius: 250px;
        margin-top: -325px;
    }

    /*-----------      h2 "Trier par" avant menu déroulant     -----------*/
    .trier-par {
        font-size: 55px;
        margin-top: 120px;
    }

    /*-----------      Menu déroulant     -----------*/
    nav {
        margin-left: 352px;
        width: 375px;
        height: 140px;
        margin-top: 80px;
        border-radius: 10px;
    }

    /*       Bouton principal du menu déroulant      */
    #menu-button {
        width: 305px;
        padding-bottom: 5px;
    }

    /*      Deuxième parti du menu déroulant      */
    #second-part-menu {
        width: 377px;
        border-radius: 10px;
        margin-top: 5px;
    }

    /*      Choix du menu déroulant      */
    .sort-by {
        font-size: 47px;
        margin: 35px;
        margin-left: 25px;
        padding: 0;
    }

    /*      Icon menu déroulant      */
    .fa-chevron-down, .fa-chevron-up {
        margin-bottom: 5px;
        padding-left: 48px;
    }

    /*      Ligne blanche entre les choix      */
    #white-line {
        margin-left: 20px;
        margin-right: 20px;
    }

    /*-----------      Galerie du photographe     -----------*/
    #photograph-medias {
        display: flex;
        flex-direction: column;
        margin-top: 270px;
    }

    /*      Box - Photo de la galerie      */
    .photograph-media {
        margin-bottom: 120px;
    }

    /*      Photos de la galerie      */
    .photograph-picture {
        width: 1135px;
        height: 1085px;
    }

    /*      Infos : Titre et nombre de likes de la photo      */
    .about-picture {
        width: 1130px;
        padding-top: 20px;
    }

    /*      Titre de la photo      */
    .picture-title {
        font-size: 60px;
    }

    /*      Nombre de likes de la photo      */
    .picture-likes {
        width: 167px;
        font-size: 60px;
        margin-right: -5px;
    }

    /*      Espace entre le Nombre et l'icon      */
    .like-margin {
        margin-right: 10px;
    }

    /*-----------      Bannière de likes     -----------*/
    #likes-banner {
        width: 760px;
        height: 142px;
        right: 60px;
    }

    /*      Infos photographe      */
    #banner-display {
        margin-top: 42px;
    }

    /*      Nombre total de likes      */
    #total-likes {
        font-size: 60px;
        margin-left: -30px;
        margin-right: 15px;
    }

    /*      Icon coeur      */
    .like-icon-banner {
        font-size: 60px;
    }

    /*      Prix du photographe/jour      */
    #price-banner {
        font-size: 60px;
        padding-right: 50px;
    }

    /*-----------      Modal - Photos de la galerie agrandi     -----------*/
    /*      Titre de la photo      */
    .title-picture-lightbox {
        font-size: 50px;
        margin-top: 20px;
    }

    /*      Icon flêche de gauche      */
    #left {
        font-size: 6em;
        margin-right: 30px;
        margin-left: -10px;
    }

    /*      Bloc - icon de fermeture + flêche de droite      */
    .icon-right-lightbox {
        margin-left: 30px;
    }

    /*      Icon de fermeture      */
    #close-button {
        font-size: 2em;
    }

    /*      Icon flêche de droite      */
    #right {
        font-size: 2em;
        margin-top: 343px;
    }

    /*-----------      Modal formulaire de contact     -----------*/
    /*      Modal form      */
    .modal {
        height: auto;
        width: 85%;
    }

    /*      Header - h2 "Contactez-moi"      */
    .modal header h2 {
        font-size: 110px;
    }

    /*      Header - Nom du photographe     */
    #name-profil {
        font-size: 110px;
    }

    /*      Header - Icon de fermeture      */
    #close-img-button {
        block-size: 4em;
    }

    /*---      Formulaire de contact      ---*/
    #contact_form {
        height: auto;
    }

    /*      Formulaire (Container : label + input)      */
    .formData {
        padding-left: 27px;
        font-size: 41px;
    }

    /*      Formulaire - Label (texte : Nom, Prénom, Email, Votre message)      */
    form label {
        font-size: 60px;
    }

    /*      Formulaire - Box de saisie (input)      */
    form input {
        width: 95%;
        height: 125px;
        font-size: 50px;
    }

    /*      Formulaire - Box de saisie du message      */
    form .input-message {
        width: 95%;
        height: 280px;
        font-size: 50px;
    }

    /*      Formulaire - Boutton "Envoyer"      */
    .contact_button {
        width: 325px;
        height: 120px;
        font-size: 40px;
        margin-top: 60px;
        margin-bottom: 30px;
        margin-left: 20px;
    }
}