/*/      LOGO      /*/
.logo {
    height: 50px;
    margin-left: 100px;
    margin-top: 35px;
    margin-bottom: 35px;
}

/*///////      HEADER - BANNIERE      ///////*/
.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    min-width: 1150px;
    margin: 0 100px 0px;
}

/*/      NOM DU PHOTOGRAPHE      /*/
.photograph-name {
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 83px;
    margin-left: 50px;
    
    color: #D3573C;

    padding-top: 60px;
}

/*/      VILLE DU PHOTOGRAPHE      /*/
.photograph-city {
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 31px;
    margin-left: 50px;
    margin-top: -40px;

    color: #901C1C;
}

/*/      DESCRIPTION DU PHOTOGRAPHE      /*/
.photograph-desc {
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    margin-left: 50px;

    color: #525252;
}

/*///////      BLOC DU BOUTON DE "CONTACT"      ///////*/
.photograph-header-bloc-2 {
    display: flex;
    justify-content: center;
    margin: -125px;
}

/*/      BOUTON "CONTACT"      /*/
.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.contact_button:hover {
    color: #000000;
    background-color: #D3573C;
}

/*///////      BLOC DE L'IMAGE DU PHOTOGRAPHE      ///////*/
.photograph-header-bloc-3 {
    display: flex;
    justify-content: flex-end;
    margin-right: 60px;
}

/*/      IMAGE DU PHOTOGRAPHE      /*/
.photograph-img {
    height: 180px;
    width: 180px;
    object-fit: cover;
    border-radius: 90px;
}

/*/       TEXTE AVANT MENU DEROULANT "TRIER PAR"      /*/
p {
    position: absolute;
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    float: left;
    margin-left: 100px;

    color: #000000;
}

/*///////      MENU DEROULANT      ///////*/
nav {
    position: absolute;
    width: 140px;
    height: 47px;
    background: #911C1C;
    border-radius: 5px;
    float: left;
    margin-left: 200px;
    margin-top: 10px;
}

/*/      PLACEMENT DES ELEMENTS DU MENU      /*/
nav * {
    margin: 0px;
    padding: 0px;
    padding-top: 4px;
    padding-left: 5px;
}

/*/      PREMIER BLOC DU MENU     /*/
.firstbloc {
    background-color: #911C1C;
    border-radius: 5px;
}

/*/      PREMIER CHOIX      /*/
.firstchoice {
    list-style: none;
    padding-top: 8px;
}

/*/      LIEN PREMIER CHOIX      /*/
.firstchoice a {
    font-family: DM Sans;
    font-style: normal;
    font-size: 16px;
    text-decoration: none;
    color: #FAFAFA;
}

/*/      ICON A DROITE DU PREMIER CHOIX      /*/
.firstchoice i {
    padding: 2px 0px 4px 20px;
}

/*/      AU SURVOL DU PREMIER CHOIX -> MOUVEMENT DE L'ICON     /*/
.firstchoice:hover i {
    transition: 0.5s;
    transform: rotateX(180deg);
    padding: 2px 0px 4px 20px;
}

/*/      DEUXIEME BLOC DU MENU (display: none)     /*/
.secondbloc {
    display: none;
    border-radius: 5px;
    padding-top: 0px;
}

/*/      AU SURVOL DU PREMIER CHOIX, LE DEUXIEME BLOC DU MENU (display: block)      /*/
.firstchoice:hover .secondbloc {
    display: block;
    font-family: DM Sans;
    font-style: normal;
    font-size: 16px;
    text-decoration: none;
    border-radius: 5px;
    padding-left: 0px;
    margin-left: 0px;
}

/*/      DEUXIEME CHOIX      /*/
.secondchoice {
    list-style: none;
    padding-top: 10px;
    padding-left: 0px;
    margin-left: 0px;
    padding-top: 25px;
}

/*/      TROISIEME CHOIX      /*/
.thirdchoice {
    list-style: none;
    padding-left: 0px;
    margin-left: 0px;
    padding-top: 25px;
    padding-bottom: 15px;
}

/*/      INTERLIGNE BLANCHE ENTRE LES CHOIX      /*/
.white-line {
    border-top: 1px solid white;
    position: absolute;
    width: 115px;
    margin-top: 12px;
}


/*///////      MEDIAS DU PHOTOGRAPHE      ///////*/
#photograph-medias {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    margin: 95px;
}

/*/      RESPONSIVE MEDIAS MOBIL-TABLETTE      /*/
@media screen and (max-width: 395px) {

    #photograph-medias {
        display: flex;
        flex-direction: column;
        gap: 60px;
        margin: 95px;
        margin-left: 395px;
        padding-left: 95px;
    }
}

/*/      IMAGES PRODUITE PAR LE PHOTOGRAPHE      /*/
.photograph-picture {
    display: flex;
    width: 350px;
    height: 300px;
    border-radius: 5px;
    object-fit: cover;
    margin: auto;
}

/*/      A PROPOS DE L'IMAGE (TITRE/NOMBRE DE LIKES)     /*/
.about-picture {
    display: flex;
    padding: 15px 5px 0px 5px;
    justify-content: space-between;
    width: 350px;
    margin: auto;
}

/*/      TITRE DE L'IMAGE      /*/
.picture-title {
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;

    color: #901C1C;
}

/*/      NOMBRE DE LIKES DE L'IMAGE      /*/
.picture-likes {
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;

    color: #901C1C;
}

/*///////      LIGHTBOX-MODALE      ///////*/
#lightbox-modal {
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    top: 0;
    padding-top: 65px;
    justify-content: center;
    background: white;
}

/*/      ICON CHEVRON GAUCHE      /*/
.fa-chevron-left {
    height: 750px;
    margin-right: 35px;
    font-size: 48px;
    margin-top: 351px;
    color: #911C1C;
}

/*/      IMAGE/MEDIA DE LA LIGHTBOX      /*/
.picture-lightbox {
    width: 900px;
    height: 750px;
    object-fit: cover;
    border-radius: 5px;
}

/*/      TITRE DU MEDIAS DE LA LIGHTBOX      /*/
.title-picture-lightbox {
    width: 50%;
    margin: 0px;
    margin-top: 10px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
    color: #911C1C;
}

/*/      LES ICONS A DROITE (CROIX + CHEVRON)      /*/
.icon-right-lightbox {
    display: flex;
    flex-direction: column;
    height: 750px;
    margin-left: 35px;
    font-size: 48px;
}

/*/      ICON CROIX DROITE (FERMETURE)      /*/
.fa-xmark {
    color: #911C1C;
}

/*/      ICON CHEVRON DROITE      /*/
.fa-chevron-right {
    color: #911C1C;
    margin-top: 303px;
}

/*///////      MODALE FORM      ///////*/
#contact_modal {
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    top: 0;
    padding-top: 65px;
    padding-bottom: 50px;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.8);
}


.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    padding-top: 20px;
    margin: auto;
}

/*/      MODALE HEADER      /*/
.modal header {
    justify-content: space-between;
    width: 100%;
    display: flex;
}

/*/      MODALE BOUTON "CLOSE"      /*/
.modal header img {
    cursor: pointer;
    height: fit-content;
    padding-top: 15px;
}

/*/      MODALE TEXTE "Contactez-moi"      /*/
.modal header h2 {
    font-size: 54px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    margin-top: 0;
}

/*///////      FORMULAIRE      ///////*/
form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

/*/      FORMULAIRE INFORMATION (LABEL+INPUT)      /*/
form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
}

/*/      FORMULAIRE LABEL      /*/
form label {
    color: #312E2E;
    font-size: 25px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    padding-top: 10px;
    padding-bottom: 5px;
}

/*/      FORMULAIRE INPUT      /*/
form input {
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 5px;
    font-family: DM Sans;
    font-size: 25px;
    margin-left: -10px;
    padding-left: 15px;
}

form .input-message {
    width: 100%;
    padding-bottom: 100px;
}

.formData[data-error]::after {
    content: attr(data-error);
    color: white;
    display: block;
    margin-top: 7px;
    text-align: right;
    transition: 0.3s;
  }
  .formData[data-error-visible="true"]::after {
    opacity: 1;
  }
  .formData[data-error-visible="true"] .text-control {
    border: 2px solid red;
  }
  
  .formData[valid] .text-control{
    border: 2px solid #36b146;
  }